
@{
    ViewBag.Title = "Logout";
}

<h2>SEE YOU SOON!</h2>


<div class="form-horizontal">
    <div class="jumbotron">
        <div>
            You are successfully logged out. If you want to login again, please <a href="@Url.Action("Login","Identity")">click here</a>
        </div>
    </div>
</div>