<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--<connectionStrings>
    <add name="FWT_PayBook_Connection" connectionString="Server=ARPIT-OFFICE;Database=PaybookTestDB;Uid=;Pwd=;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="FWT_EPayBook_Connection" connectionString="Server=localhost;port=3306;Database=floydinf_amityadav;Uid=floyd_amituser;Pwd=aMit@123;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <machineKey validationKey="D27DA9A066C1C63C86C6159935DA63BCB3B585AF5A8A7F380B01FCA4F5429D9C2A79AFE81F392B290B81BE2378EB907153C4004B6C71DC82AD7308EE6094377A" decryptionKey="602BC93C0FBD4A64BA566E7BAD43642B6FDE6A2DEA300AA33172F8CC86A1BCB3" validation="SHA1" decryption="AES"/>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <sessionState cookieless="false"/>
    <authentication mode="Forms">
      <forms loginUrl="~/identity/login" timeout="1"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>